@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: rgb(246, 238, 238);
}

header {
    display: flex;
    justify-content: space-around;
    height: 150px;
    background-color: #f2f2f2;
    color: #afafaf;
    align-items: center;
}

#logo-img {
    height: 150px;
    width: 150px;
    border-radius: 12px;
}

#links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

#links a {
    text-decoration: none;
    color: #160202;
    font-size: 1.2rem;
    border-bottom: 3px solid transparent;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}

#links a:hover {
    border-bottom: 3px solid #110303;
    color: #fb4c4c;
    transform: scale(1.1);
}

#carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: #afafaf;
    margin: 20px;
}

#carousel img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

main {
    background-color: #e62323;
    margin: 1%;
    border-radius: 1%;
    width: 1700px;
    height: 140px;
    justify-content: space-around;
    align-items: center;
}
 
h1 {
    display: flex;
    align-items: center;
}
#introduction {
    display: flex;
    align-items: center;
}

