@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: rgb(246, 238, 238);
}

header {
    display: flex;
    justify-content: space-around;
    height: 150px;
    background-color: #f2f2f2;
    color: #afafaf;
    align-items: center;
}

#logo-img {
    height: 150px;
    width: 150px;
    border-radius: 12px;
}

#links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

#links a {
    text-decoration: none;
    color: #160202;
    font-size: 1.2rem;
    border-bottom: 3px solid transparent;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}

#links a:hover {
    border-bottom: 3px solid #110303;
    color: #fb4c4c;
    transform: scale(1.1);
}

#carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: #afafaf;
    margin: 20px;
}

#carousel img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}


main {
    background-color: #7d1616;
    border-radius: 6px;
    height: 100%;
    width: 74.5%;
}

#main-new {
    width: 70%;
    background-color: rgb(210, 27, 27);
    margin: 20px auto;
    padding: 20px;
} 

#principal {
    border-radius: 6px;
    height: 800px;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

aside {
    background-color: rgb(232, 163, 2);
    border-radius: 6px;
    height: 100%;
    width: 25%;
}

footer {
    background-color: #898989;
    border-radius: 6px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p {
    color: aliceblue;
    font-size: 3mm;
}

footer a {
    color: aliceblue;
    text-decoration: none;
    font-weight: 500;

}